* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1300px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

/* Image scaling and text centering */
img {
    max-width: 90%;
    min-width: 25%;
    display: block;
    margin: 2em auto;
}

p {
    text-align: center;
    margin: 1.5em auto;
    line-height: 1.4;
    max-width: 85%;
    font-size: 1.25em;
    font-weight: 300;
}

/* NAVBAR */
.main-header {
    margin: auto;
    padding: 1em;
}

.name {
    text-align: center;
    font-size: 2em;
    margin: auto;
}

.main-nav {
    margin:auto;
}

.main-nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.button {
    display: block;
    padding: .5em;
    margin: 1em auto;
    color: black;
    background-color: ghostwhite;
    max-width: 50%;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.bio-image {
    max-width: 70%;
    margin-top: 0;
}

/* PORTFOLIO */

.portfolio h1 {
    margin: 2em auto 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.project h2 {
    margin: auto;
    padding: .5em;
    padding-bottom: 0;
    text-align: center;
}

/* CONTACTS */

.contact {
    max-width: 700px;
    margin: auto;
}

.contact h1 {
    margin: 2em auto 1.5em;
    text-align: center;
    text-transform: uppercase;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 1.5em 1em;
    padding: 1.5em 0;
    border-top: 1px solid rgba(220,220,220,.5);
}

.btn-footer {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.footer-nav ul li {
    padding: .5em;
}

.footer-nav ul {
    display: flex;
    list-style: none;
}

.hide-small {
    display: none;
}


  /* MEDIA */

  @media (min-width: 768px) {

/* HEADER */
      header, 
      .main-header,
      .bio,
      .main-nav ul {
          display: flex;
      }
      
      .button {
          max-width: none;
      }

      .bio {
          padding: 1.5em;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: flex-start;
      }

      .bio img {
          padding: .5em;
          flex: 1 25%;
      }
      .bio p {
          margin: 0;
          text-align: left;
          padding: .5em;
          flex: 2 25%;
      }

      header,
      .main-header {
          flex-direction: column;
      }

/* PORTFOLIO */
      .project-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .project {
          flex: 50%;
      }
      .hide-small {
          display: block;
      }
      .hide-big {
          display: none;
      }

  }


  @media (min-width: 1024px) {

/* HEADER */
        .main-header {
            flex-direction: row;
            justify-content: space-between;
            margin: 0 1em;
        }
        .name {
            margin: auto 1em;
        }
        .main-nav {
            margin: auto 1em;
        }

/* PORTFOLIO */
        .project-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
}
        .project {
            flex: 33%;
}

  }