* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug border */
/* .main-header,
.main-nav, 
.main-nav li,
.footer,
.portfolio,
.contacts {
    border: 1px solid red;
} */

/* NAVBAR */
/* .main-header,
.main-nav,
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.main-header {
    width: 320px;
    margin: auto;
}

.name,
.main-nav li,
.bio {
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.button {
    background-color:white;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

/* .bio {
    margin: auto;
} */

.bio-image {
    width: 280px;
    margin: 2em 0 2em 0;
}

/* PORTFOLIO */
/* .portfolio,
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
} */

.portfolio {
    margin: auto;
}

.portfolio h1 {
    margin: 1em;
}

.project-image {
    width: 300px;
    margin: .5em;
}

.project h2 {
    padding: 1em 0 0 0;
}

.project p {
    margin: 1em;
    padding-bottom: 1em;
}

/* CONTACTS */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 320px;
    margin: auto;
}

.contact h1 {
    margin: 1em;
}

.contact-address {
    padding: 1em;
    margin: 1em;
}

.contact-address p {
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
}


/* FOOTER */
.footer,
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 320px;
    margin: auto;
}


/* Media Queries */

@media (min-width: 768px) {
    .portfolio,
    .project {
    flex-wrap: wrap;
}
    

}
